# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [3]:
num_1 = 24

#### 2. asign any number of type float to the variable "num_2"

In [4]:
num_2 = 4.21

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [5]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [6]:
type(total)

float

#### 5. assign variable "height" with your height

In [7]:
height = 183

#### 6. asign variable "mass" with your weight

In [8]:
mass = 155

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [9]:
bmi = mass/(height*2)

#### 8. print value from "bmi" variable

In [10]:
print(bmi)

0.42349726775956287

# String

#### 1. Create variable "name" with your first name

In [12]:
name = 'Raghavan'

#### 2. Create variable "surname" with your surname

In [13]:
surname = 'Arunthavarajah'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [16]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [17]:
print(name_surname)

Raghavan Arunthavarajah

#### 5. print first letter from variable "name_surname"

In [18]:
print(name_surname[0])

R

#### 6. print your name (without empty space) from variable "name_surname"

In [23]:
print(name_surname[:len(name)])

Raghavan

#### 7. print your surname 10x (use variable surname)

In [24]:
print(surname*10)

ArunthavarajahArunthavarajahArunthavarajahArunthavarajahArunthavarajahArunthavarajahArunthavarajahArunthavarajahArunthavarajahArunthavarajah

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [26]:
Message = "Hello my name is " + name_surname + "!"

#### 9. print "message" variable

In [27]:
print(Message)

Hello my name is Raghavan Arunthavarajah!

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [64]:
str1 = "JhonDipPeta"
x = str1[len(str1)//2 -1] + str1[len(str1)//2] + str1[len(str1)//2 + 1]
print (x)

Dip

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [55]:
s1 = "Ault"
s2 = "Kelly"
x = s1[:2] + s2 + s1[2:]
print(x)

AuKellylt

## List

#### 1. create empty list with name "empty_list"

In [28]:
empty_list = []

#### 2. create list "heights" with five random values

In [29]:
heights = [ 167, 169, 140, 180, 172 ]

#### 3. print heights

In [30]:
print(heights)

[167, 169, 140, 180, 172]

#### 4. print type of variable "heights"

In [31]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [32]:
print(heights[1])

169

#### 6. assign last three values from "heights" to another list "heights_2"

In [34]:
heights_2 = heights[2:]

#### 7. print "heights_2"

In [35]:
print(heights_2)

[140, 180, 172]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [36]:
list_all = heights + heights_2

#### 9. print "list_all"

In [37]:
print(list_all)

[167, 169, 140, 180, 172, 140, 180, 172]

#### 10. print the type of "list_all"

In [38]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [40]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [42]:
empty_tuple[0] = 'Raghavan'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
tuples are immutable

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [44]:
empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [45]:
heights_dict = { 'Raghavan':183 }

#### 3. asign another name and height to `heights_dict`

In [46]:
heights_dict['Smith'] = 160

#### 4. print `heights_dict` dictionary

In [47]:
print(heights_dict)

{'Raghavan': 183, 'Smith': 160}

#### 5. print your height from the `heights_dict` dictionary

In [48]:
print(heights_dict['Raghavan'])

183

#### 6. print all values from `heights_dict` dictionary

In [49]:
print(heights_dict.values())

dict_values([183, 160])

#### 7. print all keys from `heights_dict` dictionary

In [50]:
print(heights_dict.keys())

dict_keys(['Raghavan', 'Smith'])